@import url("./assets/reset.css");
@import url("./assets/root.css");
@import url("./components/ui/youi.css");
@import url("./assets/reveal.css");
@import url("./assets/dracula.css");

html,
body {
    margin: 0;
    padding: 0;
}

body,
#app {
    display: flex;
    width: 100vw;
    height: 100vh;
    perspective: 500px;
}
